# Generated folders
/dist
/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Temporary build files
*.tsbuildinfo
.tmp
.temp

# Test coverage files
/coverage

# Firefox debug files
web-ext-artifacts/

# Dev tests manifest
/manifest.json

# Xcode user-specific files
**/*.xcuserdatad/
**/*.xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/
**/*.xcuserstate
